@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #FAFAFA;
        --foreground: #111517;

        --card: #FFFFFF;
        --card-foreground: #111517;

        --popover: #FFFFFF;
        --popover-foreground: #111517;

        --primary: #11203D;
        --primary-foreground: #F3F9FE;

        --secondary: #EEF6FC;
        --secondary-foreground: #11203D;

        --muted: #EEF6FC;
        --muted-foreground: #848484;

        --accent: #EEF6FC;
        --accent-foreground: #11203D;

        --destructive: #FF4B4B;
        --destructive-foreground: #F3F9FE;

        --border: #DDE8F3;
        --input: #DDE8F3;
        --ring: #000A17;

        --radius: 0.5rem;
    }

    .dark {
        --background: #202C36;
        --foreground: #FFFFFF;
        
        --card: #2B3844;
        --card-foreground: #FFFFFF;
        
        --popover: #2B3844;
        --popover-foreground: #FFFFFF;
        
        --primary: #F3F9FE;
        --primary-foreground: #FFFFFF;
        
        --secondary: #1D2433;
        --secondary-foreground: #FFFFFF;
        
        --muted: #1D2433;
        --muted-foreground: #FFFFFF;
        
        --accent: #1D2433;
        --accent-foreground: #F3F9FE;
        
        --destructive: #992A2A;
        --destructive-foreground: #F3F9FE;
        
        --border: #1D2433;
        --input: #1D2433;
        --ring: #C7D4E7;        
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}